.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s ease;
  height: 50px;
  border-radius: 50%;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.8em;
  font-family: fantasy;
}

.App-intro {
  font-size: large;
}

.container {
  background-color: rgba(0, 6, 24, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
/*
  CSS grid, y'all!
*/
.wizards-container {
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 3fr;
  grid-gap: .9rem;
  padding: 2%;
}

.selected-wizard, .search-wizards {
  width: 80%;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 1.5rem;
  font-family: fantasy;
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

label {
  font-size: 1rem;
  padding-right: 5px;
}

.search-button {
  margin: 5px;
  height: 20px;
  width: 75px;
  background-color: transparent;
  color: white;
  font-size: .8rem;
  font-family: sans-serif;
  border-radius: 0;
}
.search-button:hover {
  background-color: white;
  color: black;
  border: none;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-size: 1.3rem;
  font-family: fantasy;
}
.wizard {
  animation: square-fade-in 1 10s ease;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: cursive;
  padding: 10%;
}

.wizard:hover {
  background-color: transparent;
}

.Hufflepuff {
  background: rgba(24, 0, 12, 0.8);
}

.Gryffindor {
  background: rgba(0, 12, 24, 0.8);
}
.Gryffindor.selected,
.Hufflepuff.selected,
.Slytherin.selected,
.Ravenclaw.selected {
  background: rgba(200, 10, 0, 0.4);
}

.Slytherin {
  background: rgba(0, 24, 12, 0.8);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes square-fade-in {
  0% { opacity: 0; color: red; }
  25% { opacity: 20%; color: orange; }
  75% { opacity: 50%; color: limegreen; }
  100% { opacity: 70%; color: white; }
}
